// press_start_2pregular
@font-face {
	font-family:press_start_2pregular;
	src:url(fonts/pressstart2p-regular-webfont.b10c2f53.eot);
	src:url(fonts/pressstart2p-regular-webfont.b10c2f53.eot?#iefix) format("embedded-opentype"),url(fonts/pressstart2p-regular-webfont.73c28b63.woff2) format("woff2"),url(fonts/pressstart2p-regular-webfont.5dc4307c.woff) format("woff"),url(fonts/pressstart2p-regular-webfont.343dc4df.ttf) format("truetype"),url(fonts/pressstart2p-regular-webfont.be6bf25f.svg#press_start_2pregular) format("svg");
	font-weight:400;
	font-style:normal
}
