.fullpage-section {
  min-height: 100%;
  text-align: center;
  margin: auto;
  padding: pxToEm(45) pxToEm(15);
  max-width: pxToEm(480);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  @include viewport(medium) {
    max-width: initial;
    width: pxToEm(600);
    padding: pxToEm(30) 0;
  }

  @include viewport(large) {
    padding: pxToEm(50) 0;
  }
}
