.page-header {
  padding: pxToEm(15) 0;

  &__title {
    color: $heading-1-color;
    font-size: pxToEm(16);
    @include viewport(medium) {
      $context: 20;
      font-size: pxToEm($context);
      margin-bottom: 10vh;
    }
    @include transition(font-size);

    &-small {
      display: block;
      color: $heading-1-small-color;
      margin-top: 1em;
    }
  }
}
