// Font settings
$size-font-base: 10;
$context-base: $size-font-base;

// Breakpoints
$breakpoint-small:  768px;
$breakpoint-medium: 769px;
$breakpoint-large:  1024px;

// Colors
$color-dark-gray: #393939;
$color-deep-black: #131313;
$color-lime: #D1E751;
$color-gray: #777777;
$color-blue: #26ADE4;
$color-white: #ffffff;
$color-white-transparent: rgba(0,0,0,.4);

// Background gradient
$color-dark-gradient-inner: $color-dark-gray;
$color-dark-gradient-outer: $color-deep-black;

// Heading settings
$heading-1-color: $color-lime;
$heading-1-small-color: $color-white;
$heading-2-color: $color-gray;

// Paragraph settings
$paragraph-color: $color-white;

// Other variables:
$transition-default-time: .2s;
